@media (min-width: 701px) {
    html{
        height: 100%;
        font-family: 'Didact Gothic', sans-serif;
        background-color: rgba(219, 219, 219,0.3);

}
body{
    overflow: auto;
    width: 100%;
    margin:0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;

}

.logo-box{
    width: 10%;
    height: 4vw;
    margin-left: 10%;
}
.menu{
    display: none;
}
.menu-links{
    display: none;
}
header{
    z-index: 10000;
    width: 100%;
    height: 4vw;
    position: sticky;
    top: 0;


}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: orange;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    font-family: 'Didact Gothic', sans-serif;

}
.logo{

    max-width: 100%;
    max-height: 100%;
}
.search-form{
    width: 35%;
    height: 60%;
    margin-left: 10%;
    margin-bottom: auto;
    margin-top: auto;
    border:0;
    padding-left: 2%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1vw;
    display: flex;
}
.search{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-bottom: auto;
    margin-top: auto;
    border:0;
    padding-left: 2%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.search-btn{
    width: 20%;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    line-height: 50%;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1vw;
    padding-left: 1vw;
    background-image: url("../imgs/search.png");
    background-position: 0.5vw;
    background-repeat: no-repeat;
    background-size: 1.8vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.header> a:not(.logo-box){
    margin-left: 4.5vw;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.3vw;
    color: white;
    padding-left: 2vw;
}

.cart{
    background-image: url("../imgs/cart.png");
}
.profile{
    background-image: url("../imgs/profile.png");

}
.cart,.profile{
    background-repeat: no-repeat;
    background-size: 2vw 2vw;
    background-position: left;
}

.slides{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.slides>img{
    width: 100%;
    height: 100%;
}
.showing{
    opacity: 1;
}
#slider-box{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider-btn{
    height: 0;
}
#btn-left{
    background-color: rgba(255,165,0,0.5);
    color: white;
    position: absolute;
    width: 2.2vw;
    height: 2.2vw;

    top: 20vw;
    z-index: 1;
    border: 0;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    cursor: pointer;

}
#slider>button:hover{
    background-color: rgba(255,165,0,0.9);

}

#btn-right{
    position:absolute;
    top: 20vw;
    text-align: center;

    width: 2.2vw;
    height: 2.2vw;
    left: 95.2%;
    z-index: 2;
    border: 0;
    background-color: rgba(255,165,0,0.5);
    color: white;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
.top-content{
    width: 100%;
    height: 70%;

}
.category-list{
    width:20%;
    height: 30vw;
    background-color: white;
    margin: 1vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.2 );

}
.form-ctg{
    display: flex;
    flex-direction: column;

}
.form-ctg>div>input{
    border:0;
    width: 100%;
    height: 4.6vw;
    margin: 0;
    text-align: left;
    font-size: 1vw;
    padding-left: 3vw;
    font-family: 'Didact Gothic', sans-serif;
    background-color: white;
    transition-duration: 0.8s;
}
.form-ctg>div>input:hover{
    background-color: rgba(219, 219, 219,0.6);
}




.mobile-ctg{
    background-image: url("../imgs/icon_mobile.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 0.5vw 1.1vw;

}
.pc-ctg{
    background-image: url("../imgs/icon_pc.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 0.5vw 1.1vw;

}
.jellewry-ctg{
    background-image: url("../imgs/icon_jewellery.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 0.5vw 1.1vw;

}
.audio-ctg{
    background-image: url("../imgs/icon_audio.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 0.5vw 0.9vw;

}
.tv-ctg{
    background-image: url("../imgs/icon_tv.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 0.5vw 1.1vw;

}
.shoes-ctg{
    background-image: url("../imgs/icon_shoes.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 0.5vw 1.1vw;

}


.category-name{
    text-align: center;
    background-color: orange;
    margin: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid silver;
    font-size: 1vw;
}
.top-content-box{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content-box{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#slider{
    width: 95.6%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2 );
    height: 30vw;
    margin: 1vw;
    overflow: hidden;
    display: block;


}

.top-products{
    width: 95%  ;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2 );
    height: 27vw;
    margin:2vw auto 0.5vw auto;
}
.top-products>button:before{
    color:rgba(265,165,0,0.6);

    font-size: 2.5vw;
}
.slick-next {
    right: 1.9vw;


}
.slick-prev{
    left: 0;
    z-index: 100;

}
.product{
    width: 100%;
    height: 100%;
    position: absolute;
}
.product-link{
    width: 100%;
    height: 100%;
    position: relative;
    border-right: 1px solid rgba(0,0,0,0.1);

}
.product-img>img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}
.product-img{
    width: 80%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vw;
    position: relative;
}
.slick-slide{
    height: 27vw;
}
.slick-slide>div{
    height: 100%;
}
.product-name{

    width: 80%;
    height: 9%;
    color: #999999;
    padding-left: 1.3vw;


}
.product-name >p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-lines: 2;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1vw;
}
.more{
    text-decoration: none;
    width: 20%;
    color: orange;

}

.price-form>input{
    width: 20px;

    position: relative;
    z-index: 1000;
}
.price-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.cart-btn{
    background-color: rgba(0,0,0,0.7);
    color:white;
    font-size: 1vw;
    border: 0;
    font-family: "Didact Gothic",sans-serif;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    border-radius:5px;
    transition: background-color 0.6s ease;
}
.cart-btn:hover{
    background-color: rgba(0,0,0,1);

}
.price{
    margin-top: 1.2vw;
    display: flex;
    flex-direction: row;
    height: 10%;
    position: relative;
    z-index: 10000;
    font-weight: lighter;
    padding-left: 1.3vw;


}
.price-price{
    color:orange;
    font-size: 1.4vw;
    margin-left: 2vw;
    margin-top: 0.3vw;
}
.product-link:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2 );

}
.after,.top{
    margin: 2vw 1vw 1vw 2.5vw;

}
.after-content>button:before{
    color: rgba(255,165,0,0.6);
    font-size: 3.5vw;

}
.after-content{
    width: 95%;
    margin: 0 auto 1vw auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2 );
    height: 27vw;
    background-color: white;

}


.info{
    width: 100%;
    height: 13vw;
    margin: 1vw 0 0 0;
    background-color: white;
    border-bottom: 1px solid silver;
    border-top:1px solid silver ;

}
.info-box{
    width: 80%;
     display: flex;
    flex-direction: row;
    margin: 1vw auto 0 auto;

}
.container{
    width: 25%;
    align-items:center ;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    border-collapse: collapse ;
}
.container:nth-child(2){
    border: 0;
}
.container:nth-child(3){
    border-right: 0;
}
.icon{
    width: 90%;
    margin: 0 auto 0 auto;
}
.icon>img{

   margin-left: 37%;

}
.icon>p{
    text-align: center;
    font-weight: bold;
    font-size: 1.4vw;
}

footer{
    background-color: rgba(201, 199, 199,0.7);
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}
.payments{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.payments>p {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    text-align: center;
}
.payments-icon{

    max-width: 80%;
    max-height: 120%;
    margin: 0.8vw 0 0 4.5vw;
}
.subscribe{
    width: 50%;
    height: 90%;
    border-left: 1px solid grey;
  }
.email-form{
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.subscribe>p{
    font-size: 1.5vw;
    height: 25%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.email{
    width: 45%;
    height: 30%;
    margin:0 0 0 6vw;
    border: 0;
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.7vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 1.5vw;



}
.email-btn{
    width: 15%;
    height: 31%;
    border: 0;
    background: black;
    color: white;
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.2vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contacts{
    width: 70%;
    height: 30%;
    margin:auto;
    font-size: 1.5vw;
}
.contacts>div{
    text-align: center;
}
.copyright{
    margin-top: 0.8vw;
    font-size: 1vw;
}



}


@media (min-width: 320px)and (max-width: 700px){
    html{
        height: 100%;
    }
    body{
        width: 100%;
        margin: 0;
        overflow: scroll;
        font-family: "Work Sans",sans-serif;
    }
    header{
        background-color: orange;
        width: 100%;
        height: 12vw;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;



    }
    .header{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;


    }
    .logo{
        width: 12vw;
        height: 10vw;
        margin: auto 4vw auto 4vw;
    }
    .search{
        width: 40%;
        height: 50%;
        font-size: 3vw;
        margin: auto 0 auto 4vw;
        border:0;
        font-family: "Work Sans",sans-serif;

        border-bottom-left-radius: 0.3em;
        border-top-left-radius:0.3em ;
        padding-left: 2vw;
    }
    .search-btn{
        font-size: 2.5vw;
        color: white;
        background-color: black;
        width: 15%;
        height: 50%;
        border: 0;
        margin:auto 0 auto 0 ;
        font-family: "Work Sans",sans-serif;
        background-image: url("../imgs/search.png");
        background-repeat: no-repeat;
        background-size: 4vw;
        background-position: 1.2vw 1.1vw;
        padding-left: 4vw;
        border-bottom-right-radius: 0.3em;
        border-top-right-radius:0.3em ;

    }
    .cart{
        display: none;
    }
    .profile{
        display: none;
    }
    .menu{
        width: 10%;
        margin-left: 9vw;
        background-color: orange;
        border: 0;
        background-image: url("../imgs/menu.png");
        background-size: 6vw;
        background-repeat: no-repeat;
        background-position: center;

    }
    .menu-links{
        position: absolute;
        width: 40%;
        margin-top: 12vw;
        margin-left: 60vw;
        height: 50vw;
        background-color: rgba(255, 165, 0,0.6);
        display: none;
        flex-direction: column;
        border: 0;
    }
    .menu-links> a{
        width: 100%;
        height: 10vw;
        text-decoration: none;
        color: white;
        line-height: 10vw;
        padding-left: 20%;
        background-color: red;
        display: inherit;
    }

    .top-content{
        width: 100%;
        height: 90%;
        background-color: rgba(219, 219, 219,0.3);
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .category-list{
        width: 95%;
        height: 30vw;
        background-color: white ;
        box-shadow: 0 0 10px rgba(0,0,0,0.2 );
        margin: 2vw auto 0 auto;
        border-radius: 0.5em;

    }
    .content-box{
        width: 98%;
        margin: 2vw auto 0 auto;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.2 );
        height: 80vw;
        border-radius: 0.5em;

    }
    .


}