{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="">
  <head>
    <meta charset="utf-8">
    <title>    {% block title %}{% endblock %}</title>
      {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'main.css'%}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=cyrillic-ext" rel="stylesheet">
  </head>
  <body>
  <div class="header">
      <img src="{% static 'logo.png'%}" class="logo">
      <a href="{% url 'login' %}" class="profile">Мой профиль</a>
      <a href="#" >Подать объявление </a>
  </div>
  {% block content %}
    {% endblock %}
  </body>
</html>
