{% extends 'base.html'%}
{% load static %}
{% block css %}
    <link  type="text/css" rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
  <div class="content">
      <div class="seacrh-box">
          <br>
        <div class="search">
          <input id="search-input" type="text" placeholder="Искать среди 3 234 232 объявлений ... ">
          <input id="search-cat">
          <button id="search-btn">Поиск</button>
      </div>
      </div>
      <div class="category-box">
        <div class="category">
          <div class="mobile-ctg">Мобильные/Смартфоны</div>
          <div class="comp-ctg">Компьютеры/Ноутбуки</div>
          <div class="jellewry-ctg">Украшения/Бижутерия</div>
          <div class="shoes-ctg">Обувь</div>
          <div class="tv-ctg">Телевизоры</div>
          <div class="audio-ctg">Аудио/Видео</div>
      </div>
      </div>

      <div class="top">
          <p><label class="top-text">Популярные товары</label></p>
          <div class="top-products">
              {% for i in ads %}
              <div class="product">

                  <img src="{{ i.image }}">
                  <p>{{ i.description }}<br></p>
                  <div class="buy">
                       <label class="price"><b>{{ i.price}}тг.</b></label>
                        <a href="{% url 'ad_detail' pk=i.pk %}">Купить</a>
                  </div>

              </div>
              {% endfor %}
              <div class="product">
                  <img src="https://wladnashop.com.ua/content/images/16/belye_krossovki_s_perforatsieyid-19649899668163.jpg">
                  <p>Белые Adidas puma nike wildberris кроссковки<br></p>
                  <div class="buy">
                       <label class="price"><b>10 000тг.</b></label>
                        <input type="submit" value="Купить">
                  </div>

              </div>
              <div class="product">
                  <img src="https://wladnashop.com.ua/content/images/16/belye_krossovki_s_perforatsieyid-19649899668163.jpg">
                  <p>Белые Adidas puma nike wildberris кроссковки<br></p>
                  <div class="buy">
                       <label class="price"><b>10 000тг.</b></label>
                        <input type="submit" value="Купить">
                  </div>

              </div>



               <div class="product">
                  <img src="https://wladnashop.com.ua/content/images/16/belye_krossovki_s_perforatsieyid-19649899668163.jpg">
                  <p>Белые Adidas puma nike wildberris кроссковки<br></p>
                  <div class="buy">
                       <label class="price"><b>10 000тг.</b></label>
                        <input type="submit" value="Купить">
                  </div>
               </div>
              <div class="product">
                  <img src="https://wladnashop.com.ua/content/images/16/belye_krossovki_s_perforatsieyid-19649899668163.jpg">
                  <p>Белые Adidas puma nike wildberris кроссковки<br></p>
                  <div class="buy">
                      <label class="price"><b>10 000тг.</b></label>
                        <input type="submit" value="Купить">
                  </div>
               </div>
          </div>
      </div>
  </div>
{% endblock %}


