{% load  static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
</head>
<body>
    <header>
        <div class="header">
            <img src="{% static 'logo.png' %}" class="logo" alt="logo">
            <input class="search" type="search" placeholder="Search products . . .">
            <input type="submit" class="search-btn" value="Search">
            <button id="colopser" class="menu" onclick="barFunction(this)"></button>
            <div id="menu-links" class="menu-links">
                <a class="cart" href="cart">Cart</a>
                <a class="profile" href="profile.html">Profile</a>
            </div>
            <a class="cart" href="cart">Cart</a>
            <a class="profile" href="profile.html">Profile</a>

        </div>
    </header>

    <section class="top-content">
        <div class="category-list">
            <div class="category-name">
                    Категории
            </div>
            <form action="{% url 'product_list' %}" class="form-ctg" method="get">
                <div class="mobile">
                    <input class="mobile-ctg" type="submit" name="category" value="Мобильные/Смартфоны" >
                </div>
              <div class="comp">
                  <input class="pc-ctg" type="submit" name="category" value="Компьютеры/Ноутбуки" >
              </div>
              <div class="jellewry">
                  <input class="jellewry-ctg" type="submit" name="category" value="Украшения/Бижутерия" >
              </div>
              <div class="shoes">
                  <input class="shoes-ctg" type="submit" name="category" value="Обувь" >
              </div>
              <div class="tv">
                  <input class="tv-ctg" type="submit" name="category" value="Телевизоры" >
              </div>
              <div class="audio">
                  <input class="audio-ctg" type="submit" name="category" value="Аудио/Видео" >
              </div>
            </form>
        </div>
        <div class="content-box">
            <div class="slider">

                <div class="slider-box">
                    <img class="slides" src="{% static 'img3.jpg' %}" alt="">
                    <img class="slides" src="{% static 'img2.jpg' %}" alt="">
                </div>
                <div class="slider-btn">

                    <button class="btn-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="btn-right" onclick="plusDivs(+1)">&#10095;</button>
                </div>
            </div>
            <div class="top-products">
                {% for product in products %}
                        <div class="product">
                            <a class="product-link" href=" {% url 'ad_detail' pk=product.pk %}">

                                <div class="product-img">
                                    <img src="{{ product.image.url }}" alt="">
                                </div>
                                <div class="product-name">{{ product.header }}</div>
                            </a>
                        </div>

                {% endfor %}


            </div>
        </div>
    </section>
    <section class="after-content">
        <div>

        </div>


    </section>

    <div class="info">

    </div>

    <footer>
        <div class="footer">

        </div>
    </footer>
    <script src="{% static 'slick/jquery.js' %}"></script>
    <script src="{% static 'slick/slick.min.js' %}"></script>
</body>
   <script src="{% static 'scripts.js' %}">
    </script>
</html>