body{
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.seacrh-box{
  height: 6em;
  background: rgba(219, 215, 184,0.3);
}
.search{
  margin-top: auto;
  margin-bottom: 1em;
  display: flex;
  padding: 10px;
  border-radius: 7px;
  background: #fcba03;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
#search-input{
  margin-left: 1%;
  width: 40%;
  padding-left: 1.5em;
  border-radius: 7px;
  font-size: 150%;
  background: url("icon_search.png");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: white;
  background-position: 1% 50%;
}

::placeholder{
  font-size: 1.3vw;
  display: block;

}
#search-cat{
  margin-left: 20px;
  width: 25%;
  padding-left: 1.5em;
  border-radius: 7px;
  font-size: 150%;
  background-image: url("https://cdn3.iconfinder.com/data/icons/flat-pro-basic-set-1-1/32/location-gray-512.png");
  background-size: 0.8em;
  background-color: white;
  background-position: 2% 50%;
  background-repeat: no-repeat;

}


#search-btn{
  width: 14%;
  background-color: #f0c654;
  font-size: 1.2vw;
  padding-left: 1em;
  background-image: url("лупа.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  margin-left: 1em;
  border-radius: 0.3em;
  border: 0;
  cursor: pointer;
}
#search-icon{

  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;

}

.seacrh-block{
    width: 25%;
    height: 500px;
    background-color: silver;

}
.main-section{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;

}
.product_list{
  width: 75%;
}
.product-content{
  display: flex;
  flex-direction: row;
  margin: 1%;
}
.product-content>a{
  width: 25%;
  margin: 1%;
}

.product{
  text-decoration: none;
  height: 19vw;
  width:100%;
  border: 1px solid silver;
  border-radius: 0.5em;


}

.product>img{

  width: 12.3vw;
  height: 12.3vw;
  border-bottom: 1px solid silver;
}

.product> p{
  width: 100%;
  font-family: "Montserrat",'sans-serif';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2vw;


}
.price{
  margin-left: 0.5em;
  font-size: 1.1vw;
  white-space: nowrap;
}

.content{

}