{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'product_list.css' %}">
{% endblock %}
{% block content %}

    <div class="seacrh-box">
          <br>
        <div class="search">
          <input id="search-input" type="text" placeholder="Искать среди 3 234 232 объявлений ... ">
          <input id="search-cat">
          <button id="search-btn">Поиск</button>
      </div>
    </div>


    <section class="main-section">
    <div class="product_list">
        <div class="product-content">
            {% if products %}
                {% for product in products %}
                        <a href="{% url 'ad_detail' pk=product.pk %}">
                            <div class="product">

                                <img src="{{ product.image.url }}">
                                <p>{{ product.description }}<br></p>
                                <div class="buy">
                                    <label class="price"><b>{{ product.price}}тг.</b></label>

                                </div>

                            </div>
                         </a>
                {% endfor %}
                </div>

            {% else %}
                <p>По вашему запросу товаров не найдено :(</p>
            {% endif %}
        </div>


    </div>
    <div class="seacrh-block">



    </div>
    </section>



{% endblock %}