{% extends 'asserts/html/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ header }}
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'asserts/css/product.css' %}"  >
{% endblock %}




{% block content %}

    <img src="{{ image}}">


    {{ header }}
    <p>{{ city}}</p>

<br>
{{ category }}
<br>
{{ price }}
<br>
{{ description }}
    {{ views }}

    <form action=" {% if user.is_authenticated %}
                        {% url "cart:cart_add" product_id=id %}
                    {% else %}
                        {% url 'login' %}
                    {% endif %}
" method="post">
    {% csrf_token %}
        {{ card_add.quantity  }}

    <button type="submit">Добавить в корзину</button>
    </form>
{% endblock %}