{% extends 'asserts/html/base.html' %}
{% load static %}
{% block css %}
    <link  type="text/css" rel="stylesheet" href="{% static 'asserts/css/index.css' %}">
{% endblock %}
{% block content %}
  <div class="content">
      <div class="seacrh-box">
          <br>
        <div class="search">
          <input id="search-input" type="text" placeholder="Искать среди 3 234 232 объявлений ... ">
          <input id="search-cat">
          <button id="search-btn">Поиск</button>
      </div>
      </div>
      <div class="category-box">
        <div class="category">
            <form action="{% url 'product_list' %}" method="get">
                <div class="mobile-ctg">
                    <input class="input" type="submit" name="filter" value="Мобильные/Смартфоны" >
                </div>
              <div class="comp-ctg">
                  <input class="input" type="submit" name="filter" value="Компьютеры/Ноутбуки" >
              </div>
              <div class="jellewry-ctg">
                  <input class="input" type="submit" name="filter" value="Украшения/Бижутерия" >
              </div>
              <div class="shoes-ctg">
                  <input class="input" type="submit" name="filter" value="Обувь" >
              </div>
              <div class="tv-ctg">
                  <input class="input" type="submit" name="filter" value="Телевизоры" >
              </div>
              <div class="audio-ctg">
                  <input class="input" type="submit" name="filter" value="Аудио/Видео" >
              </div>
            </form>

      </div>
      </div>

      <div class="top">
          <p><label class="top-text">Популярные товары</label></p>
          <div class="top-products">
              {% for i in ads %}
                  <a href="{% url 'ad_detail' pk=i.pk %}">
                <div class="product">

                  <img src="{{ i.image }}">
                  <p>{{ i.description }}<br></p>
                  <div class="buy">
                       <label class="price"><b>{{ i.price}}тг.</b></label>

                  </div>

                  </div>
                  </a>
              {% endfor %}

          </div>
      </div>
  </div>
{% endblock %}


